/* ...
 *= require foundation/css/normalize.min.css
 *= require foundation/css/foundation.min.css
 *= require_self
 *= require_tree .
 */

@charset "utf-8";

body{
  background-color: #000000;
  text-align: center;
  font-family: sans-serif;
}
#knobs input{
  background-color: #ffffff;
  /*height: 350px !important;
  width: 350px !important;*/
  display: inline;
  float: left;
}
