---
title: Welcome to Middleman
---

<div id="lightbox">
</div>
<div id="knob-container">
  <input class="dial" type="text" value="221" data-color="red" data-min="0" data-max="256" data-displayInput="true" data-width="300px" data-fgColor="#ff0000">
  <input class="dial" type="text" value="221" data-color="green" data-min="0" data-max="256" data-displayInput="true" data-width="300px" data-fgColor="#00ff00">
  <input class="dial" type="text" value="221" data-color="blue" data-min="0" data-max="256" data-displayInput="true" data-width="300px" data-fgColor="#0000ff">
</div>
